// Colors
// --------------------------------------------------

@white: #ffffff;
@black: #000000;

@gray-darker: lighten(@black, 20%);
@gray-dark: lighten(@black, 24.7%);
@gray: lighten(@black, 40%);
@gray-light: lighten(@black, 85.5%);
@gray-lighter: lighten(@black, 91.3%);

@blue: #63a7dd;
@pomegranate: #ce6c5e;
@red: #e8543a;
@lime: #accf47;
@yellow: #f4d422;

// Brand
// --------------------------------------------------

@momentum-primary: #DE271A;
@momentum-secondary: #003366;

@brand-color: @white;
@brand-disabled-color: @gray-light;

@brand-default: @gray-dark;
@brand-default-border: @gray-lighter;
@brand-primary: @momentum-primary;
@brand-primary-border: darken(@brand-primary, 5%);
@brand-secondary: @momentum-secondary;
@brand-secondary-border: darken(@brand-secondary, 5%);
@brand-success: @lime;
@brand-success-border: darken(@brand-success, 5%);
@brand-warning: @yellow;
@brand-warning-border: darken(@brand-warning, 5%);
@brand-danger: @pomegranate;
@brand-danger-border: darken(@brand-danger, 5%);
@brand-info: lighten(@brand-secondary, 60%);
@brand-info-border: darken(@brand-info, 5%);

// Scaffolding
// --------------------------------------------------

@body-bg: @white;
@text-color: @gray;

// Links
// --------------------------------------------------

@link-color: @brand-primary;
@link-hover-color: darken(@link-color, 15%);

// Typography
// --------------------------------------------------

@font-family-sans-serif: "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif;
@font-family-sans-serif-light: "Segoe UI Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
@font-family-serif: Georgia, "Times New Roman", Times, serif;
@font-family-monospace: Monaco, Menlo, Consolas, "Courier New", monospace;
@font-family-base: @font-family-sans-serif;

@font-size-base: 14px;
@font-size-large: ceil(@font-size-base * 1.25);
@font-size-small: ceil(@font-size-base * 0.85);

@font-size-h1: floor(@font-size-base * 2.6);
@font-size-h2: floor(@font-size-base * 2.15);
@font-size-h3: ceil(@font-size-base * 1.7);
@font-size-h4: ceil(@font-size-base * 1.25);
@font-size-h5: @font-size-base;
@font-size-h6: ceil(@font-size-base * 0.85);

@line-height-base: 1.428571429;
@line-height-computed: floor(@font-size-base * @line-height-base);

@headings-font-family: @font-family-sans-serif-light;
@headings-font-weight: 100;
@headings-line-height: 1.1;
@headings-color: inherit;

// Iconography
// --------------------------------------------------

@icon-font-path: "../fonts/";
@icon-font-name: "glyphicons-halflings-regular";

// Components
// --------------------------------------------------

@padding-base-vertical:          6px;
@padding-base-horizontal:        12px;

@padding-large-vertical:         10px;
@padding-large-horizontal:       16px;

@padding-small-vertical:         5px;
@padding-small-horizontal:       10px;

@padding-xs-vertical:            1px;
@padding-xs-horizontal:          5px;

@line-height-large: 1.33;
@line-height-small: 1.5;

@border-radius-base: 0px;
@border-radius-large: 0px;
@border-radius-small: 0px;

@component-active-color: @brand-color;
@component-active-bg: @brand-primary;

@caret-width-base: 4px;
@caret-width-large: 5px;

// Tables
// --------------------------------------------------

@table-cell-padding: 8px;
@table-condensed-cell-padding: 5px;

@table-bg: transparent;
@table-bg-accent: #f9f9f9;
@table-bg-hover: #f5f5f5;
@table-bg-active: @table-bg-hover;

@table-border-color: #ddd;

// Buttons
// --------------------------------------------------

@btn-font-weight: 300;

@btn-default-color: @brand-color;
@btn-default-bg: @brand-default;
@btn-default-border: @brand-default-border;

@btn-primary-color: @brand-color;
@btn-primary-bg: @brand-primary;
@btn-primary-border: @brand-primary-border;

@btn-secondary-color: @brand-color;
@btn-secondary-bg: @brand-secondary;
@btn-secondary-border: @brand-secondary-border;

@btn-success-color: @brand-color;
@btn-success-bg: @brand-success;
@btn-success-border: @brand-success-border;

@btn-warning-color: @brand-color;
@btn-warning-bg: @brand-warning;
@btn-warning-border: @brand-warning-border;

@btn-danger-color: @brand-color;
@btn-danger-bg: @brand-danger;
@btn-danger-border: @brand-danger-border;

@btn-info-color: @brand-color;
@btn-info-bg: @brand-info;
@btn-info-border: @brand-info-border;

@btn-link-disabled-color: @brand-disabled-color;

// Forms
// --------------------------------------------------

@input-bg: @white;
@input-bg-disabled: @gray-lighter;

@input-color: @gray;
@input-border: #ccc;
@input-border-radius: @border-radius-base;
@input-border-focus: #66afe9;

@input-color-placeholder: @gray-light;

@input-height-base: (@line-height-computed + (@padding-base-vertical * 2) + 2);
@input-height-large: (floor(@font-size-large * @line-height-large) + (@padding-large-vertical * 2) + 2);
@input-height-small: (floor(@font-size-small * @line-height-small) + (@padding-small-vertical * 2) + 2);

@legend-color: @gray-dark;
@legend-border-color: #e5e5e5;

@input-group-addon-bg: @gray-lighter;
@input-group-addon-border-color: @input-border;

// Dropdowns
// --------------------------------------------------

@dropdown-bg: #fff;
@dropdown-border: rgba(0,0,0,.15);
@dropdown-fallback-border: #ccc;
@dropdown-divider-bg: #e5e5e5;

@dropdown-link-color: @gray-dark;
@dropdown-link-hover-color: darken(@gray-dark, 5%);
@dropdown-link-hover-bg: #f5f5f5;

@dropdown-link-active-color: @component-active-color;
@dropdown-link-active-bg: @component-active-bg;

@dropdown-link-disabled-color: @gray-light;

@dropdown-header-color: @gray-light;

@dropdown-caret-color: #000;

// Navbar
// --------------------------------------------------

@navbar-height: 50px;
@navbar-margin-bottom: @line-height-computed;
@navbar-border-radius: @border-radius-base;
@navbar-padding-horizontal: floor(@grid-gutter-width / 2);
@navbar-padding-vertical: ((@navbar-height - @line-height-computed) / 2);

@navbar-default-color: @brand-color;
@navbar-default-bg: @gray-darker;
@navbar-default-border: transparent;

@navbar-default-link-color: @brand-color;
@navbar-default-link-hover-color: @brand-color;
@navbar-default-link-hover-bg: transparent;
@navbar-default-link-active-color: @brand-color;
@navbar-default-link-active-bg: @brand-primary;
@navbar-default-link-disabled-color: @brand-disabled-color;
@navbar-default-link-disabled-bg: transparent;

@navbar-default-brand-color: @navbar-default-link-color;
@navbar-default-brand-hover-color: darken(@navbar-default-brand-color, 10%);
@navbar-default-brand-hover-bg: transparent;

@navbar-default-toggle-hover-bg: #ddd;
@navbar-default-toggle-icon-bar-bg: #ccc;
@navbar-default-toggle-border-color: #ddd;

@navbar-inverse-color: @gray-light;
@navbar-inverse-bg: #222;
@navbar-inverse-border: darken(@navbar-inverse-bg, 10%);

@navbar-inverse-link-color: @gray-light;
@navbar-inverse-link-hover-color: #fff;
@navbar-inverse-link-hover-bg: transparent;
@navbar-inverse-link-active-color: @navbar-inverse-link-hover-color;
@navbar-inverse-link-active-bg: darken(@navbar-inverse-bg, 10%);
@navbar-inverse-link-disabled-color: #444;
@navbar-inverse-link-disabled-bg: transparent;

@navbar-inverse-brand-color: @navbar-inverse-link-color;
@navbar-inverse-brand-hover-color: #fff;
@navbar-inverse-brand-hover-bg: transparent;

@navbar-inverse-toggle-hover-bg: #333;
@navbar-inverse-toggle-icon-bar-bg: #fff;
@navbar-inverse-toggle-border-color: #333;

// Navs
// --------------------------------------------------

@nav-link-padding: 10px 15px;
@nav-link-hover-bg: @gray-lighter;

@nav-disabled-link-color: @brand-disabled-color;
@nav-disabled-link-hover-color: @brand-disabled-color;

@nav-open-link-hover-color: @white;
@nav-open-caret-border-color: @white;

@nav-tabs-border-color: #ddd;

@nav-tabs-link-hover-border-color: @gray-lighter;

@nav-tabs-active-link-hover-bg: @body-bg;
@nav-tabs-active-link-hover-color: @gray;

@nav-tabs-active-link-hover-border-color: #ddd;

@nav-tabs-justified-link-border-color: #ddd;
@nav-tabs-justified-active-link-border-color: @body-bg;

@nav-pills-border-radius: @border-radius-base;
@nav-pills-active-link-hover-bg: @component-active-bg;
@nav-pills-active-link-hover-color: @component-active-color;

// Pagination
// --------------------------------------------------

@pagination-bg: transparent;
@pagination-border: @gray-lighter;

@pagination-hover-bg: @gray-lighter;

@pagination-active-bg: @brand-primary;
@pagination-active-color: @brand-color;

@pagination-disabled-color: @gray-light;

// Form states and alerts
// --------------------------------------------------

@state-success-text: @brand-success;
@state-success-bg: @brand-success;
@state-success-border: darken(spin(@brand-success, -10), 5%);

@state-info-text: @brand-info;
@state-info-bg: @brand-info;
@state-info-border: darken(spin(@brand-info, -10), 5%);

@state-warning-text: @brand-warning;
@state-warning-bg: @brand-warning;
@state-warning-border: darken(spin(@brand-warning, -10), 5%);

@state-danger-text: @brand-danger;
@state-danger-bg: @brand-danger;
@state-danger-border: darken(spin(@brand-danger, -10), 5%);

// Labels
// --------------------------------------------------

@label-default-bg: @brand-default;
@label-primary-bg: @brand-primary;
@label-secondary-bg: @brand-secondary;
@label-success-bg: @brand-success;
@label-info-bg: @brand-info;
@label-warning-bg: @brand-warning;
@label-danger-bg: @brand-danger;

@label-color: @brand-color;
@label-link-hover-color: @brand-color;

// Alerts
// --------------------------------------------------

@alert-padding: 15px;
@alert-border-radius: @border-radius-base;
@alert-link-font-weight: bold;

@alert-success-bg: @brand-success;
@alert-success-text: @brand-color;
@alert-success-border: @brand-success-border;

@alert-info-bg: @brand-info;
@alert-info-text: @brand-color;
@alert-info-border: @brand-info-border;

@alert-warning-bg: @brand-warning;
@alert-warning-text: @brand-color;
@alert-warning-border: @brand-warning-border;

@alert-danger-bg: @brand-danger;
@alert-danger-text: @brand-color;
@alert-danger-border: @brand-danger-border;

// Progress bars
// --------------------------------------------------

@progress-bg: #f5f5f5;

@progress-bar-color: @brand-color;
@progress-bar-bg: @brand-primary;
@progress-bar-success-bg: @brand-success;
@progress-bar-warning-bg: @brand-warning;
@progress-bar-danger-bg: @brand-danger;
@progress-bar-info-bg: @brand-info;

// List group
// --------------------------------------------------

@list-group-bg: #fff;
@list-group-border: #ddd;
@list-group-border-radius: @border-radius-base;

@list-group-hover-bg: #f5f5f5;
@list-group-active-color: @component-active-color;
@list-group-active-bg: @component-active-bg;
@list-group-active-border: @list-group-active-bg;

@list-group-link-color: #555;
@list-group-link-heading-color: #333;

// Panels
// --------------------------------------------------

@panel-bg: transparent;
@panel-inner-border: @gray-light;
@panel-border-radius: @border-radius-base;
@panel-footer-bg: @gray-lighter;

@panel-default-text: @brand-color;
@panel-default-border: @brand-default-border;
@panel-default-heading-bg: @brand-default;

@panel-primary-text: @brand-color;
@panel-primary-border: @brand-primary-border;
@panel-primary-heading-bg: @brand-primary;

@panel-secondary-text: @brand-color;
@panel-secondary-border: @brand-secondary-border;
@panel-secondary-heading-bg: @brand-secondary;

@panel-success-text: @brand-color;
@panel-success-border: @brand-success-border;
@panel-success-heading-bg: @brand-success;

@panel-warning-text: @brand-color;
@panel-warning-border: @brand-warning-border;
@panel-warning-heading-bg: @brand-warning;

@panel-danger-text: @brand-color;
@panel-danger-border: @brand-danger-border;
@panel-danger-heading-bg: @brand-danger;

@panel-info-text: @brand-color;
@panel-info-border: @brand-info-border;
@panel-info-heading-bg: @brand-info;

// Thumbnails
// --------------------------------------------------

@thumbnail-padding: 4px;
@thumbnail-bg: @body-bg;
@thumbnail-border: #ddd;
@thumbnail-border-radius: @border-radius-base;

@thumbnail-caption-color: @text-color;
@thumbnail-caption-padding: 9px;

// Wells
// --------------------------------------------------

@well-bg: #f5f5f5;

// Badges
// --------------------------------------------------

@badge-color: @white;
@badge-link-hover-color: @white;
@badge-bg: @gray-lighter;

@badge-active-color: @link-color;
@badge-active-bg: @white;

@badge-font-weight: bold;
@badge-line-height: 1;
@badge-border-radius: 10px;

// Breadcrumbs
// --------------------------------------------------

@breadcrumb-bg: transparent;
@breadcrumb-color: @text-color;
@breadcrumb-active-color: @text-color;
@breadcrumb-separator: ">";

// Close
// --------------------------------------------------

@close-font-weight: bold;
@close-color: @black;
@close-text-shadow: 0 1px 0 #fff;

// Code
// --------------------------------------------------

@code-color: #c7254e;
@code-bg: #f9f2f4;

@pre-bg: #f5f5f5;
@pre-color: @gray-dark;
@pre-border-color: #ccc;
@pre-scrollable-max-height: 340px;

// Type
// --------------------------------------------------

@text-muted: @gray-light;
@abbr-border-color: @gray-light;
@headings-small-color: @gray-light;
@blockquote-small-color: @gray-light;
@blockquote-border-color: @gray-lighter;
@page-header-border-color: @gray-lighter;
@hr-border: @gray-lighter;

// Pager
// --------------------------------------------------

@pager-border-radius: 15px;
@pager-disabled-color: @gray-light;

// Jumbotron
// --------------------------------------------------

@jumbotron-padding: 30px;
@jumbotron-color: inherit;
@jumbotron-bg: @gray-lighter;
@jumbotron-heading-color: inherit;
@jumbotron-font-size: ceil(@font-size-base * 1.5);

// Carousel
// --------------------------------------------------

@carousel-text-shadow: 0 1px 2px rgba(0,0,0,.6);

@carousel-control-color: #fff;
@carousel-control-width: 15%;
@carousel-control-opacity: .5;
@carousel-control-font-size: 20px;

@carousel-indicator-active-bg: #fff;
@carousel-indicator-border-color: #fff;

@carousel-caption-color: #fff;

// Tooltips
// --------------------------------------------------

@tooltip-max-width: 200px;
@tooltip-color: #fff;
@tooltip-bg: #000;

@tooltip-arrow-width: 5px;
@tooltip-arrow-color: @tooltip-bg;

// Popovers
// --------------------------------------------------

@popover-bg: #fff;
@popover-max-width: 276px;
@popover-border-color: rgba(0,0,0,.2);
@popover-fallback-border-color: #ccc;

@popover-title-bg: darken(@popover-bg, 3%);

@popover-arrow-width: 10px;
@popover-arrow-color: #fff;

@popover-arrow-outer-width: (@popover-arrow-width + 1);
@popover-arrow-outer-color: rgba(0,0,0,.25);
@popover-arrow-outer-fallback-color: #999;

// Modals
// --------------------------------------------------

@modal-inner-padding: 20px;

@modal-title-padding: 15px;
@modal-title-line-height: @line-height-base;

@modal-content-bg: #fff;
@modal-content-border-color: rgba(0,0,0,.2);
@modal-content-fallback-border-color: #999;

@modal-backdrop-bg: #000;
@modal-header-border-color: #e5e5e5;
@modal-footer-border-color: @modal-header-border-color;


// COMPONENT VARIABLES
// --------------------------------------------------

@component-offset-horizontal: 180px;
@zindex-navbar: 1000;
@zindex-dropdown: 1000;
@zindex-popover: 1010;
@zindex-tooltip: 1030;
@zindex-navbar-fixed: 1030;
@zindex-modal-background: 1040;
@zindex-modal: 1050;

@screen-xs: 480px;
@screen-xs-min: @screen-xs;
@screen-phone: @screen-xs-min;
@screen-sm: 768px;
@screen-sm-min: @screen-sm;
@screen-tablet: @screen-sm-min;
@screen-md: 992px;
@screen-md-min: @screen-md;
@screen-desktop: @screen-md-min;
@screen-lg: 1200px;
@screen-lg-min: @screen-lg;
@screen-lg-desktop: @screen-lg-min;
@screen-xs-max: (@screen-sm-min - 1);
@screen-sm-max: (@screen-md-min - 1);
@screen-md-max: (@screen-lg-min - 1);
@container-tablet: ((720px + @grid-gutter-width));
@container-sm: @container-tablet;
@container-desktop: ((940px + @grid-gutter-width));
@container-md: @container-desktop;
@container-large-desktop: ((1140px + @grid-gutter-width));
@container-lg: @container-large-desktop;
@grid-columns: 12;
@grid-gutter-width: 30px;
@grid-float-breakpoint: @screen-sm-min;
@grid-float-breakpoint-max: (@grid-float-breakpoint - 1);
